*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navegacion{
    border-bottom: 1px solid grey;
}
.lista{
    display: flex;
    justify-content: center;
    align-items: center;
}
.encabezado{
    list-style-type: none;
    margin: 15px;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
/*main*/
.titulo{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 10px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}